@import "tailwindcss";

@font-face{
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

:root {
  --background: #FFFCF7;
  --text: #212429;
  --text-secondary: #585858;
  --gradient: linear-gradient(135deg, #FFC757, #EB5E55);
  --text-orange: #EB5E55;
  --text-yellow: #FFC758;
  --text-white: #FFFCF7
}

*{
  font-family: Roboto;
  background-color: #FFFCF7;
}

body {
  background: var(--background);
  color: var(--foreground);
}


